.toolbar-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0 5em;
  .nav {
    display: flex;
    align-items: center;
    gap: 10px;
    & a:nth-child(1) {
      padding: 0;
      mat-icon {
        font-size: 20px;
      }
    }
    a {
      font-size: 16px;
      cursor: pointer;
      letter-spacing: 0;
    }
    & a.active {
      background-color: #0c1965;
    }
  }
  .acount {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 0.5em;
    hr {
      height: 20px;
      color: #fff;
    }
    .user_profile {
      color: #fff;
      text-decoration: none;
    }
    .button-raised {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 700;
      text-decoration: none;
      color: #000;
      cursor: pointer;
      gap: 5px;
    }
  }
}

.cart {
  position: relative;
  span {
    font-size: 20px;
    color: #000;
  }
  .button-raised {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    gap: 5px;
  }
  .counter-cart {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #ef2727;
    border-radius: 50%;
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 10px;
  }
}

.show-mobile {
  display: block;
  box-shadow: 0px 2px 5px rgb(black, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f51b5;
  > div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mat-icon {
      width: auto;
      height: auto;
    }
    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      font-size: 30px;
      padding: 0;
    }
  }
  .cart {
    margin-top: 0;
    .counter-cart {
      width: 15px;
      height: 15px;
      line-height: 15px;
      right: 0;
    }
  }
  .slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: all ease-out 0.5s;
    z-index: 9999;
    ul {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 35px;
      align-items: flex-start;
      li,
      a {
        text-decoration: none;
        font-weight: bold;
        color: #000;
        list-style: none;
        font-size: 20px;
      }
    }
    &.active {
      transform: translateX(0);
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 20em) and (max-width: 40em) {
  .toolbar-container {
    display: none;
  }
  .toolbar-container {
    padding: 1em;
    .nav {
      gap: 0;
      a {
        font-size: 15px;
      }
    }
    .cart {
      button {
        .button-raised {
          mat-icon {
            font-size: 20px;
          }
        }
      }
    }
  }
  .show-mobile {
    .slide-menu {
      ul {
      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .show-mobile {
    display: none;
  }
  .toolbar-container {
    padding: 0 1em;
  }
}

@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
}
