.toolbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5em;

  .nav {
    display: flex;
    gap: 10px;
    a {
      font-size: 18px;
      cursor: pointer;
    }
    & a.active {
      background-color: #0c1965;
    }
  }
  .cart {
    position: relative;
    span {
      font-size: 20px;
      color: #000;
    }
    .button-raised {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 700;
      text-decoration: none;
      color: #000;
      cursor: pointer;
      gap: 5px;
    }
    .counter-cart {
      width: 20px;
      height: 20px;
      line-height: 20px;
      background: #ef2727;
      border-radius: 50%;
      display: block;
      color: white;
      text-align: center;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 20em) and (max-width: 40em) {
  .toolbar-container {
    padding: 1em;
    .nav {
      gap: 0;
      a {
        font-size: 15px;
      }
    }
    .cart {
      button {
        .button-raised {
          mat-icon {
            font-size: 20px;
          }
        }
      }
    }
  }
}
