@import "@angular/material/theming";

$primary: mat-palette($mat-indigo);

footer {
  width: 100%;
  margin-top: 20px;
  background-color: mat-color($primary);
  .container {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    .row {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
    .box {
      h3 {
        font-size: 20px;
        color: white;
      }
      mat-form-field {
        margin-top: 10px;
        input {
          font-size: 15px;
          color: rgba(158, 154, 154, 0.825);
        }
      }
      button {
        height: 55px;
        width: 100px;
      }

      ul {
        list-style: none;
        margin-top: 20px;
        padding: 0px;
        li {
          margin: 5px 0px;
          a {
            text-decoration: none;
            color: white;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 20em) and (max-width: 40em) {
  footer {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 0.5em 0;
      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0 1.2em;
        .row-container {
          padding: 0;
        }
      }
      .box {
        h3 {
          font-size: 16px;
        }
        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
      .contact {
        width: 100%;
        margin-top: 20px;
        padding: 0 1.2em;
        .contact-container {
          padding: 0;
        }

        .box > div {
          display: flex;

          mat-form-field {
            margin-top: 0;
            input {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
