<div class="products-grid">
  <app-product
    *ngFor="let product of products"
    (addedProduct)="addToShoppingCart($event)"
    (showProduct)="onShowProductDetail($event)"
    [product]="product"
  >
  </app-product>
  <div class="product-detail" [class.active]="showProductDetail">
    <div *ngIf="productChosen">
      <mat-icon
        style="color: #000; cursor: pointer; margin: 15px"
        (click)="toggleProductDetail()"
        >clear</mat-icon
      >
      <swiper class="swiper-container" [slidesPerView]="1">
        <ng-template swiperSlide *ngFor="let img of productChosen.images">
          <img [src]="img" [alt]="productChosen.title" />
        </ng-template>
      </swiper>
      <div class="details">
        <h2>{{ productChosen.price | currency }}</h2>
        <h1>{{ productChosen.title }}</h1>
        <p>{{ productChosen.description }}</p>
        <!-- <button>Add to cart</button> -->
      </div>
    </div>
  </div>
</div>
