<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
      <hr />
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
              formControlName="name"
              placeholder="you@mail.com"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              placeholder="you@mail.com"
              matInput
              type="email"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              formControlName="password"
              placeholder="******"
              matInput
              type="password"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Confirme contraseña</mat-label>
            <input
              formControlName="confirmPassword"
              placeholder="******"
              matInput
              type="password"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="customer">Customer</mat-option>
              <mat-option value="admin">Admin</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xs">
          <mat-form-field appearance="fill">
            <mat-label>Link Avatar</mat-label>
            <input
              formControlName="role"
              placeholder="http://www..."
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div> -->
      <!-- <mat-checkbox>Hide required marker</mat-checkbox> -->
      <!-- <div>
        <mat-radio-group>
          <mat-radio-button value="auto">User</mat-radio-button>
          <mat-radio-button value="always">Company</mat-radio-button>
        </mat-radio-group>
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">
        Registrarse
      </button>
    </mat-card-actions>
  </mat-card>
</form>
