@import "@angular/material/theming";

$primary: mat-palette($mat-indigo);

:host {
  height: 100vh;
  background-color: #3f51b5;
  display: block;
}
form {
  width: 90%;
  margin: 0px auto;
  position: relative;
  top: 20px;
  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-card-title {
      font-weight: 700;
      font-size: 25px;
      margin-top: 20px;
    }
    hr {
      width: 100%;
      border: 2px solid #3f51b5;
    }
  }
  mat-card-content {
    margin-top: 30px;
    mat-label {
      font-size: 14px;
      background-color: transparent;
    }
  }
  mat-form-field {
    width: 100%;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    button {
      height: 50px;
      width: 80%;
      background-color: #3f51b5;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1.5px;
    }
  }
}

@media screen and (min-width: 20em) and (max-width: 40em) {
  form {
    top: 65px;
    width: 80%;
    mat-card-actions {
      margin: 10px 0;
      button {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}

@media screen and (min-width: 64em) {
  form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}
