<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <div class="mat-header">
      <mat-icon style="cursor: pointer; margin: 15px" (click)="goToBack()"
        >arrow_back</mat-icon
      >
      <mat-card-title
        style="
          text-align: center;
          margin: 15px;
          font-size: 22px;
          font-weight: bold;
        "
        >Producto</mat-card-title
      >
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Title"
              formControlName="title"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input
              placeholder="Price"
              formControlName="price"
              matInput
              type="number"
            />
          </mat-form-field>
          <div *ngIf="priceField?.errors && priceField?.dirty">
            <p *ngIf="priceField?.hasError('price_invalid')">
              no te debes pasar de 10000
            </p>
            <p *ngIf="priceField?.hasError('required')">
              el campo es requerido
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea
              placeholder="Descripción"
              formControlName="description"
              matInput
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <img
            style="width: 200px"
            *ngIf="imagesField?.value"
            [src]="imagesField?.value"
          />
          <!-- <img *ngIf="(image$ | async) as image" [src]="image" /> -->
          <input
            multiple="multiple"
            style="padding: 16px 0; margin-left: 15px; font-size: 14px"
            type="file"
            (change)="uploadFile($event)"
          />
          <div
            class="messages"
            *ngIf="imagesField?.touched && imagesField?.invalid"
          >
            <mat-error *ngIf="imagesField?.hasError('required')">
              Este campo es requerido
            </mat-error>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">
        Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
