<section>
  <mat-card>
    <div class="title">
      <h2>¡Contactanos!</h2>
    </div>
    <div class="information">
      <div class="row">
        <div class="col-xs-12 col-md-6 row-container">
          <div class="box">
            <h5>Productos</h5>
            <ul>
              <li>
                <a>Nuevos Productos</a>
              </li>
              <li>
                <a>En oferta</a>
              </li>
              <li>
                <a>Últimos productos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 row-container">
          <div class="box">
            <h5>Acerca de</h5>
            <ul>
              <li><a>Sobre nosotros</a></li>
              <li><a>Nuestras tiendas</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="col-xs-12 col-md-12">
          <div class="box">
            <h5>Contacto</h5>
            <div class="input-button">
              <mat-form-field>
                <input placeholder="Escribe tu correo" matInput type="email" />
              </mat-form-field>
              <button mat-raised-button disabled="disabled">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</section>
