<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
  </mat-card-header>
  <div class="crop-image">
    <app-image
      *ngIf="product.images.length > 0"
      [img]="product.images[0]"
    ></app-image>
  </div>
  <mat-card-content>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    <p>{{ product.description | slice : 0 : 10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="." (click)="showProductDetail()" mat-raised-button
      >Ver detalle</a
    >
    <button (click)="addToCart()" mat-raised-button color="primary">
      Agregar al carrito
    </button>
  </mat-card-actions>
</mat-card>
